# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
Bvenv/
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Logs
*.log

# Build / distribution
build/
dist/
*.egg-info/

# PyTorch / ML
*.pt
*.pth
*.ckpt
checkpoints/
models/
runs/

# Datasets
datasets/
data/

# Temporary files
*.tmp
*.temp

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/